# -------------------------------------------------------------
# LIFTALAND PLATFORM ENVIRONMENT CONFIGURATION
# -------------------------------------------------------------

# محیط اجرایی
NODE_ENV=production
PORT=3000

# آدرس پایه وب‌سایت
NEXT_PUBLIC_SITE_URL=https://liftaland.ir

# آدرس اندپوینت API بک‌اند (جهت اتصال آینده)
# NEXT_PUBLIC_API_BASE_URL=https://api.liftaland.ir/v1